@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: container                                    	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* container s ============================================== */

/* cafe page */
.sub_wrap{
    height: 100%;
    font-size: $font-18r;
    .sub_gnb{
        width: 100%;
        height: 300px;
        background: url(../images/subPage/subMain.png) no-repeat center;
        background-size: cover;
        .page_tit{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: $font-36r;
        }
    }
    .sub_content{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 140px;
        .small-tit{
            .tit_txt{
                font-size: $font-40r;
                font-weight: 600;
            }
            .sub_txt{
                margin-top: 16px;
            }
        }
        .content{
            margin-top: 88px;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    padding: 8px;
                    a{
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        align-items: center;
                        width: 186px;
                        height: 220px;
                        border: 1px solid #eee;
                        &:hover{
                            &::after{
                                content: '';
                                display: block;
                                clear: both;
                                width: 186px;
                                height: 220px;
                                position: absolute;
                                background: rgba(0, 0, 0, 0.5) url(../images/subPage/pluse.png) no-repeat center;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* 모바일 */
@media only screen and (max-width: 1060px) {

    .sub_wrap{
        .sub_gnb{
            height: 160px;
            .page_tit{
                justify-content:flex-start;
                padding-left: 20px;
                font-size: $font-26r;
            }
        }
        .sub_content{
            .small-tit{
                padding-right: 20px;
                    padding-left: 20px;
                .tit_txt{
                    font-size: $font-30r;
                }
                .sub_txt{
                    font-size: $font-16r;
                }
            }
            @media only screen and (max-width: 600px){
                .content{
                    ul{
                        justify-content: center;
                    }
                }
            }
        }
    }

}
/* container e ============================================== */
/* ---------------------------------------------------------- */
