@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: common                               	          */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* common s ================================================= */

.color-n {
  color: rgba(255, 0, 0, 0);
}
.font14 {
  font-size: 14px;
}
.font12 {
  font-size: 12px;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}

/* padding 공통 */
.sub-tit,
.info {
  padding-left: 7px;
}
/* common e ================================================= */