@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: font                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* font s =================================================== */
@font-face {
  font-family: 'Malgun Gothic';
  src: url('../font/MalgunGothic.eot') format('eot'),
       url('../font/MalgunGothic.ttf') format('ttf');
  font-weight: 400;
  font-size: normal;
}

/* font e ================================================== */