<html lang="ko">
    <head>
        <title>test</title>
    </head>
    <body>
        <h1>안녕하세요</h1>
        <h2>안녕</h2>

        <% for (var i = 0; i <5; i++) { %>
            <h1>수고하셨습니다</h1>
        <% } %>

        <p>test</p>
    </body>
</html>