@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */

.wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to bottom, #4eadf4, #add8e6);
    .header{
        width: 280px;
        height: 100%;
        position: absolute;
        z-index: 10;
        text-align: center;
        border-right: 1px solid #fff;
        font-size: 1.8rem;
        .logo{
            background-color: #fff;
            a{
                vertical-align: baseline;
                img{
                    max-width: 250px;
                    vertical-align: baseline;
                }
            }
        }
        .my_page{
            background-color:#0e4eb2;
            text-align: center;
            a{
                font-size: 1.5rem;
                color: #fff;
                vertical-align: baseline;
            }
        }
        .gnb_wrap{
            position: relative;
            z-index: 4;
            background-color: #fff;
            &>li{
                position: relative;
                &>a{
                    display: block;
                    padding: 8px 0;
                    border-bottom: 1px solid #ddd;
                }
            }
            .gnb_list{
                width: 100%;
                height: 699%;
                max-height: 700px;
                padding: 0px 18px 0 18px;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: -1;
                opacity: 0;
                font-size: 1.4rem;
                text-align: left;
                transition: .9s;
                &>li{
                    &>a{
                        display: block;
                        padding: 8px 0;
                        color: #fff;
                    }
                }
                &.on{
                    left: 280px;
                }
            }
            .menu{
                &.on{
                    .gnb_list{
                        left: 280px;
                        opacity: 1;
                    }
                }
            }
        }
        .foot_wrap{
            position: relative;
            z-index: 4;
            padding-top: 1rem;
            padding-left: 2rem;
            text-align: left;
            font-size: 1.5rem;
            >ul{
                >li{
                    padding: 3px;
                }
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0;
            z-index: -2;
            background-color: #ededed;
        }
    }
    .gnb_bg{
        width: 280px;
        height: 100%;
        position: fixed;
        top:0;
        left: 0px;
        z-index: 1;
        opacity: 0;
        background-color: #0e4eb2;
        transition: .8s;
        &.active{
            left: 280px;
            opacity: 1;
        }
    }

    .content{
        width: 100%;
        padding-top: 10rem;
        padding-left: 280px;
        .calen_wrap{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            .box_cnt{
                width: 100%;
                &.cnt2{
                    margin-left: 1.5rem;
                }
                ul{
                    display: flex;
                    li{
                        width: 50%;
                        &:first-child{
                            background-color: #fff;
                        }
                        &:nth-child(2){
                            background-color: #ffd34d;
                        }
                        button{
                            border:0;
                            background-color: transparent;
                            width: 100%;
                            height: 120px;
                            padding: 5% 10%;
                            b{
                                font-size: 2rem;
                            }
                            .today_txt{
                                display: block;
                                text-align: left;
                                font-weight: 700;
                                span{
                                    font-weight: 400;
                                    display: block;
                                }
                            }
                            .today_cnt{
                                display: block;
                                margin-top: -30px;
                                text-align: right;
                                font-size: 1.5rem;
                                color: #000;
                                font-weight: 400;
                                span{
                                    font-size: 3.5rem;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.dim{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: .5s;
    opacity: 0;
    &._on{
        opacity: 1;
    }
}
.m_wrap{
    display: none;
}

// 모바일
@media only screen and (max-width:1024px){
    .wrap{
        display: block;
        overflow: scroll;
        .header{
            width: 100%;
            .gnb_wrap{
                width: 100%;
                background-color: transparent;
                &>li{
                    &>a{
                        width: 45%;
                        text-align: left;
                        padding: 10px 15px;
                        font-size: 1.4rem;
                        font-weight: 500;
                        &:focus{
                            color: #0e4eb2;
                            text-decoration: underline;
                        }
                    }
                    .gnb_list{
                        width: 55%;
                        left: 45%;
                        background-color: #fff;
                        > li{
                            > a{
                                border-bottom: 1px solid #e1e1e1;
                                color: #000;
                            }
                        }
                    }
                }
                .menu{
                    &.m_on{
                        > a{
                            background-color: #fff;
                            &::after{
                                content: '';
                                width: 6px;
                                height: 10px;
                                position: absolute;
                                background-image: url(../images/ic_gnb.jpg);
                                -webkit-background-size: auto auto;
                                background-size: auto;
                                background-repeat: no-repeat;
                                background-position: right center;
                                left: 15.4rem;
                                top: 1.5rem;
                            }
                        }
                        .gnb_list{
                            left: 45%;
                            opacity: 1;
                        }
                    }
                }
            }
            .foot_wrap{
                width: 45%;
                position: relative;
                z-index: 4;
                padding-top: 1rem;
                padding-left: .7rem;
                text-align: left;
                font-size: 1.15rem;
                >ul{
                    >li{
                        padding: 2px;
                    }
                }
            }
            &::after{
                content: '';
                width: 55%;
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0;
                z-index: -2;
                background: #fff;
            }
        }
        .content{
            padding: 0 1.5rem;
            margin: 8rem auto;
            .calen_wrap{
                display: block;
                .box_cnt{
                    width: 100%;
                    &.cnt2{
                        margin-top: 1rem;
                        margin-left: 0rem;
                    }
                    ul{
                        display: flex;
                        li{
                            width: 50%;
                            button{
                                height: 89px;
                                b{
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gnb_bg{
            display: none;
        }
    }
    .dim{
        display: none;
    }
    .m_wrap{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        .m_nav{
            border-top: 2px solid #ff6c00;
            .m_logo{
                width: 100%;
                text-align: center;
                .m_logo{
                    img{
                        display: block;
                        max-width: 250px;
                        line-height: 60px;
                        margin: 0 auto;
                    }
                }
            }
            .m_menu{
                display: block;
                position: absolute;
                right: 1.6rem;
                top: 1.6rem;
                width: 24px;
                height: 24px;
                background: url(../images/m_open.png) no-repeat 0 0;
                background-size: contain;
                span{
                    display: block;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &.open{
                    background-image: url(../images/m_close.png);
                }
            }
        }
    }

} /* //mobile */


/* header e ================================================= */
/* ---------------------------------------------------------- */