@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: header                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* header s ================================================= */

.wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #4eadf4, #add8e6);
    .header{
        width: 280px;
        text-align: center;
        border-right: 1px solid #fff;
        font-size: 1.8rem;
        background-color: #ededed;
        .logo{
            background-color: #fff;
            a{
                vertical-align: baseline;
                img{
                    max-width: 250px;
                }
            }
        }
        .my_page{
            background-color:#0e4eb2;
            text-align: center;
            a{
                font-size: 1.5rem;
                color: #fff;
                vertical-align: baseline;
            }
        }
        .gnb_wrap{
            background-color: #fff;
            &>li{
                border-bottom: 1px solid #ddd;
                &>a{
                    display: block;
                    padding: 8px 0;
                }
                &:nth-child(2)>ul{
                    padding-top: 86px;
                }
                &:nth-child(3)>ul{
                    padding-top: 130px;
                }
                &:nth-child(4)>ul{
                    padding-top: 175px;
                }
                &:nth-child(5)>ul{
                    padding-top: 216px;
                }
                &:nth-child(6)>ul{
                    padding-top: 261px;
                }
                &:nth-child(7)>ul{
                    padding-top: 310px;
                }
            }
            .gnb_list{
                height: 699%;
                max-height: 700px;
                padding: 42px 18px 0 18px;
                position: absolute;
                left: 0px;
                top: 40px;
                z-index: -5;
                opacity: 0;
                font-size: 1.4rem;
                text-align: left;
                transition: 0.8s;
                &>li{
                    &>a{
                        display: block;
                        padding: 8px 0;
                        color: #fff;
                    }
                }
                &.on{
                    left: 280px;
                }
            }
            .menu{
                &.on{
                    .gnb_list{
                        left: 280px;
                        z-index: 6;
                        opacity: 1;
                    }
                }
            }
        }
        .foot_wrap{
            margin-top: 1rem;
            padding-left: 2rem;
            text-align: left;
            font-size: 1.5rem;
            >ul{
                >li{
                    padding: 3px;
                }
            }
        }
        .gnb_bg{
            width: 280px;
            height: 100%;
            position: fixed;
            top:0;
            left: 0px;
            z-index: -1;
            display: none;
            background-color: #0e4eb2;
            transition: .8s;
        }
    }

    .content{
        width: 100%;
        max-width: 1280px;
        margin-top: 10rem;
        margin: 10rem auto;
        .calen_wrap{
            width: 100%;
            display: flex;
            .box_cnt{
                width: 100%;
                &.cnt2{
                    margin-left: 1.5rem;
                }
                ul{
                    display: flex;
                    li{
                        width: 50%;
                        &:first-child{
                            background-color: #fff;
                        }
                        &:nth-child(2){
                            background-color: #ffd34d;
                        }
                        button{
                            border:0;
                            background-color: transparent;
                            width: 100%;
                            height: 120px;
                            padding: 5% 10%;
                            b{
                                font-size: 2rem;
                            }
                            .today_txt{
                                display: block;
                                text-align: left;
                                font-weight: 700;
                                span{
                                    font-weight: 400;
                                    display: block;
                                }
                            }
                            .today_cnt{
                                display: block;
                                margin-top: -30px;
                                text-align: right;
                                font-size: 1.5rem;
                                color: #000;
                                font-weight: 400;
                                span{
                                    font-size: 3.5rem;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* header e ================================================= */
/* ---------------------------------------------------------- */